body{

    background-image: url('https://img.lovepik.com/background/20211021/large/lovepik-silhouette-particles-of-creative-football-match-background-image_400182238.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
